{% extends 'farm/dashboard/base_dashboard.html' %}
{% block title %}{{ title }} | Puodho{% endblock %}
{% block dashboard_content %}<h1>{{ title }}</h1><form method="post" enctype="multipart/form-data" class="contact-form product-admin-form">{% csrf_token %}{{ form.as_p }}<h2>Options</h2>{{ formset.management_form }}{% for option_form in formset %}<div class="option-form">{{ option_form.as_p }}</div>{% endfor %}<button class="btn primary" type="submit">Save Product</button></form>{% endblock %}
